@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.root {
  --text-color : #1F1534;
  --text-secondary : #7D7987;
}

@layer utilities {
  .custom-shadow {
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  }
}
